.imageContainer{
    display:flex;

}
.imageSize{
    height: 200px;
    width: auto ;
}
.column {
    border-width: 1px;
    border-color: black ;
    border-style: solid;
    margin-left: 5px;
    height: auto;   
}
.jarvis{
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
display: flex;
justify-content: center;
background-color: aqua;
opacity: 0.95;
}
.container-m{
    border-width: 1px;
    border-color: black ;
    border-style: solid;
    margin-left: 5px;
    height: 100px;  
    width: 100px; 
}